<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("006eca69-7330-44c2-a273-92ba5aae7a37");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
